html {
    background: rgb(116, 95, 71);
}

header {
    background: rgb(107, 114, 107);
    padding: 20px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

h1 {
    font-size: 35px;
}

.NavTitle {
    font-size: 20px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: #e0d3bb;
    padding: 70px;
    border-radius: 60px;
    color: black;
    margin: 50px;
}

#blog-post{
    padding: 30px;
}

p {
    color: #3d3c3c;
    line-height: 1.3em;
}

.post {
    border-top: black 5px solid;
}

.author, .date {
    color: #422d21;
    font-weight: bold;
    margin-top: 15px;
}